.cg{
    position: fixed;
    background: url(https://wallpaperaccess.com/full/1385494.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    top: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    overflow: auto;
}

.about-us-content {
    max-width: 800px;
    padding: 43px;
    padding-top: 110px;
}

.about-us-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: left;
}

.about-us-content h4 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #f1f1f1;
}

.about-us-content p {
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 45px;
    color: #c9c9c9;
}

