.bg{
    position: fixed;
    background: url(https://wallpaperaccess.com/full/20593.jpg);
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    z-index: -1;
}

.eader{
    color: antiquewhite;
    padding-top: 160px;
    padding-right: 30px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.para{
    margin-top: 20px;
    color: white;
    text-align: center;
}
